body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}

.h1Header {
	font-size: 50px;
}
.controlHeaders {
	font-family: "Lato";
    top: 0;
    left: 0;
    position: fixed;
    text-align:center;
    width:100%;
    height: 56px;
}

.headerLinks {
	font-family:"Catamaran";
	font-size: 20px;
    text-align:center;
    height: 100%;
    width:100%;
    align-items: center;
}
.headerLinks a {
    text-decoration: none;
    color: black;
}

